.registration__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96.99vw;
    height: 92.9vh;
    
  }
  .registration__wrapper form {
    width: 24rem;
    max-width: 90%;
    z-index: 1;
    
  }
  
  .registration__wrapper form img {
    width: 4rem;
  }
  
